:root {
    --builder-bg-color: #dfdfe3;
    --builder-bg-fallback-color: #ffffff;
}

.builder-background {
  background-color: white;
  opacity: 0.8;
  background-image: linear-gradient(var(--builder-bg-color) 2px, transparent 2px),
    linear-gradient(90deg, var(--builder-bg-color) 2px, transparent 2px),
    linear-gradient(var(--builder-bg-color) 1px, transparent 1px),
    linear-gradient(90deg, var(--builder-bg-color) 1px, white 1px);
  background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}
